<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>A Website Page</title>
  </head>
  <body>
      {{> header}}
      <p>{{tooLoud welcomeMessage}}</p>
      {{> footer}}
  </body>
</html>
